{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/home.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Today, On The Internet...</title>
</head>
<body>
    <nav class="nav-bar">
        <a id="site-logo"> LOGO </a>
        <form method="POST">
            <input type="text" name="search-bar" id="search-bar" placeholder="Search"/>
        </form>

        <ul>
            <li> <button id="login-button"> LOG IN </button> </li>
            <li> <button id="signup-button"> SIGN UP </button> </li>
            <li> 
                <button>Options</button>
            </li>
        </ul>

    </nav>
    
    
    <div class="posts-container">
    <h2>Popular Posts</h2>
    {% for post in posts %}
        <div class="individual-post">
            <h3> {{post.title}} <em>posted by <a>{{post.user}}</a> <a>{{post.age}}</a></em></h3>
            <div class="individual-post-content">
                {% if post.content_is_text %}
                    <p> {{post.text}}</p>
                {% else %}
                    <p> {{post.content}} </p>
                {% endif %}
            </div>
            <div class="like-comment-share"> 
                <ul>
                    <li class="individual-post-likes-count"> {{post.likes}} likes  </li>
                    <li> <button class="like-button"> like </button> </li>
                    <li> <a>comment</a> </li>
                    <li> <button class="share-button">share</button></li>
                </ul> 
            </div>
        </div>
    {% endfor %}

        <div id="show-more-content"> <button>See more posts</button> </div>
    </div>
</body>
</html>

<!--
    Posts have 
    title
    preview
    likes
    user
    time since post


-->