{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/home.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/individual_post.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Today, On The Internet...</title>
</head>
<body>
    <nav class="nav-bar">
        <a id="site-logo"> LOGO </a>
        <form method="POST">
            <input type="text" name="search-bar" id="search-bar" placeholder="Search"/>
        </form>

        <ul>
            <li> <button id="login-button"> LOG IN </button> </li>
            <li> <button id="signup-button"> SIGN UP </button> </li>
            <li> 
                <button>Options</button>
            </li>
        </ul>

    </nav>
    
    
    <div class="individual-post-container">
    {{individual_post.title}}
    <div class="post-container">
        {{individual_post.content}}
    </div>
    <div class="like-comment-share"> 
        <ul>
            <li class="individual-post-likes-count"> {{individual_post.likes}} likes  </li>
            <li> <button class="like-button"> like </button> </li>
            <li> <a>comment</a> </li>
            <li> <button class="share-button">share</button></li>
        </ul> 
    </div>
    {% for comment in individual_post.comments %}
        <div class="individual-comment">
            <div>
                {{comment}}
            </div>
            <div class="like-comment-share"> 
                <ul>
                    <li class="individual-post-likes-count"> {{comment.likes}} likes  </li>
                    <li> <button class="like-button"> like </button> </li>
                    <li> <a>comment</a> </li>
                    <li> <button class="share-button">share</button></li>
                </ul> 
            </div>
        </div>
    {% endfor %}

        <div id="show-more-content"> <button>See more comments</button> </div>
    </div>
</body>
</html>