*{
    margin:0;
    padding:0;
    list-style: none;
}

body{
    background-color: rgb(184, 200, 218);
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.nav-bar{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slateblue;
    position: sticky;
}

#site-logo{
    background-image: linear-gradient(0.25turn,red,yellow,blue,purple,violet);
    background-image: linear-gradient(0.25turn,rgb(47, 174, 216), white, rgb(47, 174, 216), white,rgb(47, 174, 216));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight:bolder;
    font-size:32px;
    margin-left:8px;
    cursor:pointer;
}

.nav-bar ul{
    width: 240px;

    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 2vw;
}

.nav-bar input{
    width: 40vw;
    height: 30px;
    border-radius: 4px;
    padding-left: 8px;
    font-family:inherit;
    letter-spacing:1px;
    font-size:inherit;
    font-weight:500;
}

input:focus{
    outline:none;
}
.nav-logo{
    width: 10vw;
    padding-left: 2vw;
    cursor: pointer;
}
.nav-bar ul li button{
    width: 80px;
    height: 32px;
    cursor: pointer;
    background-color: inherit;
    color:whitesmoke;
    border:solid 1px whitesmoke;
    margin: 2px;
    letter-spacing: 1px;
    font-weight:bold;
}

.nav-bar ul li button:hover{
    opacity: 80%;
}

#signup-button{
    color: slateblue;
    background-color: whitesmoke;
}



.posts-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding:4px 16px 4px 16px;
    border-radius: 20px;
    width: 60vw;
    min-width: 600px;
    max-width: 800px;
}
.posts-container h2{
    align-self: flex-start;
    letter-spacing: 2px;
}

.individual-post{
    width: 60vw;
    min-width: 600px;
    max-width: 800px;
    display:flex;
    flex-direction:column;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 8px 8px 8px 8px;
    margin-bottom: 8px;
    margin-top:8px;
    color: rgb(7, 14, 37);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    cursor: pointer;
}

.individual-post:hover{
    border: solid 1px;
}
.individual-post-content{
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-all;
}

.individual-post-likes-count{
    margin-right:auto;
}

.like-comment-share{
    background-color: slateblue;
    color:whitesmoke;
    padding: 2px;
    width:100%;
}

.like-comment-share ul{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.like-comment-share li{
    padding-left: 4px;
    padding-right:4px;
}

.like-comment-share button{
    background-color: inherit;
    border-radius: 2px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding-left: 2px;
    padding-right: 2px;
    border:none;
    letter-spacing:none;
}
.like-comment-share button:hover{
    color: slateblue;
    background-color: whitesmoke;
}
.like-comment-share a:hover{
    color: slateblue;
    background-color: whitesmoke;
    text-decoration: none;
}

h3 em{
    font-size: 12px;
    opacity:75%;
}

a{
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}


#show-more-content button{
    font-family:inherit;
    font-size:20px;
    border:none;
    background-color:inherit;
    color:inherit;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 8px;
}