.individual-posts-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding:4px 16px 4px 16px;
    border-radius: 20px;
    width: 60vw;
    min-width: 600px;
    max-width: 800px;
}
.posts-container h2{
    align-self: flex-start;
    letter-spacing: 2px;
}